[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.96"
async-trait = "0.1.86"
aws-sdk-dynamodb = "1.66.0"
serde = { version = "1.0.218", features = ["derive"] }
serde_json = "1.0.139"
